IP_BROKER=127.0.0.1
IP_TEAM=127.0.0.2
IP_GAMECARD=127.0.0.3
PUERTO_BROKER=6009
PUERTO_TEAM=5002
PUERTO_GAMECARD=5001
LOG_FILE=/home/utnso/Documentos/tp-2020-1c-C-aprueba/gameboy-v2/src/resources/log_gameBoy.txt
MI_LOG_FILE=/home/utnso/Documentos/tp-2020-1c-C-aprueba/gameboy-v2/src/resources/mi_log_gameBoy.txt